Django==5.0.9
mysqlclient==2.2.4
PyMySQL==1.1.1
python-decouple==3.8
chromadb==0.5.5
openai==1.51.0
langchain-text-splitters==0.2.4
pypdf==4.3.1
Pillow==10.4.0
django-widget-tweaks==1.5.0
requests==2.32.3
Faker==28.4.1
tqdm==4.66.5
sentence-transformers>=2.5.0
transformers>=4.41.0
torchaudio>=2.2.0
